.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.title {
  margin: 0;
  text-align: center;
}
.form {
  margin: auto;
  display: flex;
  gap: 1rem;
}

.form input {
  margin-left: 0.5rem;
}

.list {
  margin: auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.25rem;
}
